{% extends 'base.html' %}

{% load bootstrap4 %}

{% block title %}New Project{% endblock %}

{% block content %}
  <h2 class="mt-3">New Project</h2>
  <form method="post">
    {% csrf_token %}
    {% bootstrap_form project_form %}
    <button class="btn btn-outline-secondary mb-3" type="button" data-toggle="modal" data-target="#addCategoryModal">Add Category</button>
    <div id="task_container">
      <div class="task">
        <h2>Task</h2>
        <p>
          <label class="new-task-input">Title:
            <input
              type="text"
              name="task_title"
              required
              maxlength="200"
              class="form-control"
            />
          </label>
        </p>
        <p>
          <label class="new-task-input">Budget:
            <input
              type="number"
              min = "0"
              id="budget_input"
              name="task_budget"
              required
              maxlength="200"
              class="form-control"
            ></textarea>
          </label>
        </p>
        <p>
          <label class="new-task-input">Description:
            <textarea
              type="text"
              name="task_description"
              required
              maxlength="500"
              class="form-control"
            ></textarea>
          </label>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm">
        <button id="add_task" class="btn btn-outline-secondary mb-3" type="button">Add Task</button>
        <br>
        <button id="remove_task" class="btn btn-outline-danger" type="button">Remove Task</button>
      </div>
      <div class="col-sm">
        <br>
        <button type="submit" name="new_project" class="btn btn-primary float-right">Create Project</button>
      </div>

    </div>
  </form>
  <div class="modal fade" id="addCategoryModal" tabindex="-1" role="dialog" aria-labelledby="addCategoryModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addCategoryModalLabel">Request new category</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form method="post">
          <div class="modal-body">
            {% csrf_token %}
            {% bootstrap_form project_category_form %}
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
            <button type="submit" name="new_category" class="btn btn-primary">Request category</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  {% load static %}
  <script src="{% static 'js/new_project.js' %}"></script>
{% endblock %}
