{% extends 'base.html' %}

{% load icons %}
{% load bootstrap4 %}
{% load static %}
{% load project_extras %}

{% block title %}Projects{% endblock %}

{% block content %}
  <h2 class="mt-3 text-center" >Open Projects</h2>
  <div class="row">
    <div class="col-lg text-center">
      <button class="btn btn-secondary mb-3" type="button" data-toggle="modal" data-target="#addCategoryModal">Add Category</button>
    </div>
  </div>
  <div class="row">
    <div class="col-lg text-center">

      <div class="text-center d-inline-flex list-group mt-3" id="project-toggle" role="tablist">
        <ul class="pagination">
          {% for project_category in project_categories %}
          <li class="page-item">
            <a
              class="list-group-item list-group-item-action"
              data-toggle="list"
              role="tab"
              id="category-{{project_category}}"
              aria-controls="{{project_category}}"
              href="#{{project_category}}">
                {{project_category}}
            </a>
          </li>
          {% endfor %}

        </ul>
      </div>

      <div class="tab-content"  id="nav-tabContent">
        {% for project_category in project_categories %}
          <div class="tab-pane fade show" id="{{project_category}}" role="tabpanel" aria-labelledby="category-{{project_category}}">
            <h3 class="mb-3 mt-5">{{project_category}}</h3>
            <div class="row projects-view">
                {% for project in projects %}
                  {% if project.status == project.OPEN and project.category.id == project_category.id %}
                  <a class="open-project-view-item" href="{% url 'project_view' project_id=project.id%}">
                  <div class="col-md mb-3 ml-3 mr-3 mt-3 project-box-style">
                    <div class="media">
                      <img class="align-self-top mr-3 mt-5 project-image" src="{% static 'img/idea.jpg' %}" alt="Generic placeholder image." />
                      <div class="media-body">
                        <h5 class="mt-3"> {% icon 'tasks' %} {{project.title}}</h5>
                        <p>Posted by: {{project.user.user.username}}</p>
                        <p class="project-description">{{project.description}}</p>
                    </div>
                  </div>
                  </div>
                  </a>
                  {% endif %}
                {% endfor %}

            </div>

          </div>
        {% endfor %}
      </div>

    </div>
  </div>

  <div class="modal fade" id="addCategoryModal" tabindex="-1" role="dialog" aria-labelledby="addCategoryModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addCategoryModalLabel">Request new category</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form method="post">
          <div class="modal-body">
            {% csrf_token %}
            {% bootstrap_form project_category_form %}
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
            <button type="submit" name="new_category" class="btn btn-primary">Request category</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <script src="{% static 'js/tab_change.js' %}"></script>
  <script>
  document.getElementsByClassName('list-group-item-action')[0].click();
  setTimeout(function(){
    document.getElementsByClassName('list-group-item-action')[0].click();
  }, 100);
  </script>
{% endblock %}
